<div id="rec850897402" class="r t-rec" style=" " data-animationappear="off" data-record-type="702">
    <!-- T702 -->
    <div class="t702">
        <div class="t-popup" data-tooltip-hook="{{.Ссылка_на_pop_up}}#popup:myform" role="dialog" aria-modal="true" tabindex="-1" aria-label="{{.Заголовок}}">
            <div class="t-popup__close t-popup__block-close">
                <button type="button" class="t-popup__close-wrapper t-popup__block-close-button" aria-label="Закрыть диалоговое окно">
                    <svg role="presentation" class="t-popup__close-icon" width="23px" height="23px" viewBox="0 0 23 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g stroke="none" stroke-width="1" fill="#fff" fill-rule="evenodd">
                            <rect transform="translate(11.313708, 11.313708) rotate(-45.000000) translate(-11.313708, -11.313708) " x="10.3137085" y="-3.6862915" width="2" height="30"></rect>
                            <rect transform="translate(11.313708, 11.313708) rotate(-315.000000) translate(-11.313708, -11.313708) " x="10.3137085" y="-3.6862915" width="2" height="30"></rect>
                        </g>
                    </svg>
                </button>
            </div>
            <style>
                @media screen and (max-width: 560px) {
                    #rec850897402 .t-popup__close-icon g {
                        fill:#ffffff !important;
                    }
                }
            </style>
            <div class="t-popup__container t-width t-width_6">
                <div class="t702__wrapper">
                    <div class="t702__text-wrapper t-align_center">
                        <div class="t702__title t-title t-title_xxs" id="popuptitle_850897402">{{.Заголовок}}</div>
                        <div class="t702__descr t-descr t-descr_xs">{{.Описание}}</div>
                    </div>
                    <form id="form850897402" name='form850897402' role="form" action='' method='POST' data-formactiontype="0" data-inputbox=".t-input-group" class="t-form js-form-proccess t-form_inputs-total_3 " data-success-callback="t702_onSuccess" data-request-url="{{.Url_отправки_данных}}">
                        <!-- NO ONE SERVICES CONNECTED -->
                        <div class="js-successbox t-form__successbox t-text t-text_md" aria-live="polite" style="display:none;" data-success-message="{{.Сообщение_об_успешной_отправке_данных}}"></div>
                        <div class="t-form__inputsbox t-form__inputsbox_vertical-form t-form__inputsbox_inrow">
                            {{range  $index, $field := .Поля}}
                                {{if eq $field.Тип_данных "Скрытое поле"}}
                                    <input type="hidden" name="{{$field.Системное_имя_параметра}}" />
                                {{end}}
                                {{if eq $field.Тип_данных "Строка"}}
                                    <div class=" t-input-group t-input-group_nm " data-input-lid="{{$field.Системное_имя_параметра}}" data-field-type="nm">
                                        <label 
                                            for='input_{{$field.Системное_имя_параметра}}' 
                                            class="t-input-title t-descr t-descr_md" 
                                            id="field-title_{{$field.Системное_имя_параметра}}" 
                                            data-redactor-toolbar="no" 
                                            field="li_title__{{$field.Системное_имя_параметра}}" 
                                            style="color:;">{{$field.Пользовательское_имя_параметра}}</label>
                                        <div class="t-input-block " style="border-radius:5px;">
                                            <!-- data-tilda-rule="name"  -->
                                            <input 
                                                type="text" 
                                                name="{{$field.Системное_имя_параметра}}" 
                                                id="input_{{$field.Системное_имя_параметра}}" 
                                                class="t-input js-tilda-rule" 
                                                value="" 
                                                placeholder="{{$field.Заполнитель_при_пустом_значении}}" 
                                                data-tilda-req="1" 
                                                aria-required="true" 
                                                
                                                aria-describedby="error_{{$field.Системное_имя_параметра}}" 
                                                style="color:#000000;border:1px solid #c9c9c9;border-radius:5px;">
                                        </div>
                                        <div class="t-input-error" aria-live="polite" id="error_{{$field.Системное_имя_параметра}}"></div>
                                    </div>
                                {{end}}
                            {{end}}
                            <div class="t-form__errorbox-middle">
                                <!--noindex-->
                                <div class="js-errorbox-all t-form__errorbox-wrapper" style="display:none;" data-nosnippet tabindex="-1" aria-label="Ошибки при заполнении формы">
                                    <ul role="list" class="t-form__errorbox-text t-text t-text_md">
                                        <li class="t-form__errorbox-item js-rule-error js-rule-error-all"></li>
                                        <li class="t-form__errorbox-item js-rule-error js-rule-error-req"></li>
                                        <li class="t-form__errorbox-item js-rule-error js-rule-error-email"></li>
                                        <li class="t-form__errorbox-item js-rule-error js-rule-error-name"></li>
                                        <li class="t-form__errorbox-item js-rule-error js-rule-error-phone"></li>
                                        <li class="t-form__errorbox-item js-rule-error js-rule-error-minlength"></li>
                                        <li class="t-form__errorbox-item js-rule-error js-rule-error-string"></li>
                                    </ul>
                                </div>
                                <!--/noindex-->
                            </div>
                            <div class="t-form__submit">
                                <button type="submit" class="t-submit" style="color:#ffffff;background-color:#000000;border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;" data-field="buttontitle" data-buttonfieldset="button">{{.Текст_кнопки}}</button>
                            </div>
                        </div>
                        <div class="t-form__errorbox-bottom">
                            <!--noindex-->
                            <div class="js-errorbox-all t-form__errorbox-wrapper" style="display:none;" data-nosnippet tabindex="-1" aria-label="Ошибки при заполнении формы">
                                <ul role="list" class="t-form__errorbox-text t-text t-text_md">
                                    <li class="t-form__errorbox-item js-rule-error js-rule-error-all"></li>
                                    <li class="t-form__errorbox-item js-rule-error js-rule-error-req"></li>
                                    <li class="t-form__errorbox-item js-rule-error js-rule-error-email"></li>
                                    <li class="t-form__errorbox-item js-rule-error js-rule-error-name"></li>
                                    <li class="t-form__errorbox-item js-rule-error js-rule-error-phone"></li>
                                    <li class="t-form__errorbox-item js-rule-error js-rule-error-minlength"></li>
                                    <li class="t-form__errorbox-item js-rule-error js-rule-error-string"></li>
                                </ul>
                            </div>
                            <!--/noindex-->
                        </div>
                    </form>
                    <style>
                        #rec850897402 input::-webkit-input-placeholder {
                            color: #000000;
                            opacity: 0.5;
                        }

                        #rec850897402 input::-moz-placeholder {
                            color: #000000;
                            opacity: 0.5;
                        }

                        #rec850897402 input:-moz-placeholder {
                            color: #000000;
                            opacity: 0.5;
                        }

                        #rec850897402 input:-ms-input-placeholder {
                            color: #000000;
                            opacity: 0.5;
                        }

                        #rec850897402 textarea::-webkit-input-placeholder {
                            color: #000000;
                            opacity: 0.5;
                        }

                        #rec850897402 textarea::-moz-placeholder {
                            color: #000000;
                            opacity: 0.5;
                        }

                        #rec850897402 textarea:-moz-placeholder {
                            color: #000000;
                            opacity: 0.5;
                        }

                        #rec850897402 textarea:-ms-input-placeholder {
                            color: #000000;
                            opacity: 0.5;
                        }
                    </style>
                </div>
            </div>
        </div>
    </div>
    <script>
        t_onReady(function() {
            t_onFuncLoad('t702_initPopup', function() {
                t702_initPopup('850897402');
            });
        });
    </script>
</div>